@font-face {
  font-family: 'Nexa Light';
  src: local("Nexa Light"), url("../../fonts/Nexa_Light.otf");
  font-weight: light;
  font-family: 'Nexa Bold';
  src: local("Nexa Bold"), url("../../fonts/Nexa_Bold.otf");
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #242423;
  color: #f7f7f2;
  font-family: 'Nexa Light', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Nexa Bold';
  text-shadow: .1rem .1rem .3rem #242423;
  color: #f7f7f2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242423;
  height: 100%;
  margin: 0 auto;
}

.container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .row::before, .container .row::after {
  content: "";
  display: block;
  clear: both;
}

@media only screen {
  [class*='col-'] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header.row {
    z-index: 2;
  }
  header.row .col-4:first-child {
    font-family: 'Nexa Light';
    margin-top: .3em;
    margin-right: .9em;
    font-size: 3em;
  }
  header.row .col-4:nth-child(2) {
    margin-top: -1.75em;
    margin-right: .5em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header.row .col-4:nth-child(2) div > :first-child {
    font-family: 'Nexa Light';
    font-size: 2em;
  }
  header.row .col-4:nth-child(2) div > :last-child {
    font-family: 'Nexa Bold';
    font-size: 4em;
  }
  header.row .col-4:last-child {
    font-family: 'Nexa Light';
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: .75em;
    margin-top: -1em;
    letter-spacing: .75em;
  }
  footer.navMenu {
    z-index: 2;
    position: relative;
    overflow: hidden;
  }
  /* Toggle Functionality */
  #toggle {
    display: none;
  }
  #toggle:checked ~ .toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
            transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  #toggle:checked ~ .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 3.5em;
    pointer-events: auto;
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
    padding-right: 1em;
  }
  #toggle:checked ~ .nav .navItem {
    color: #f7f7f2;
    letter-spacing: .75em;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(1) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(3) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(4) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(4):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #toggle:checked ~ .nav .navItem:before {
    opacity: 0;
  }
  /* Toggle Button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 4em;
    height: 4em;
    margin: .75em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 1.5em;
    width: 35%;
    height: .1em;
    background-color: #f7f7f2;
    border-radius: .5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
            transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .button-toggle:after {
    -webkit-transform: translateY(50%) rotate(-45deg) scale(0);
            transform: translateY(50%) rotate(-45deg) scale(0);
  }
  /* Menu */
  .nav {
    display: inline-block;
    margin: 2em 3em 3em;
    width: 768px;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navItem {
    position: relative;
    float: right;
    clear: both;
    color: transparent;
    font-size: .85rem;
    letter-spacing: -.45em;
    height: .6em;
    line-height: .3em;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
  }
  .navItem:nth-child(1) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navItem:nth-child(1):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navItem:nth-child(2) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navItem:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navItem:nth-child(3) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navItem:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navItem:nth-child(4) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navItem:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navItem:nth-child(1) {
    letter-spacing: -.3rem;
  }
  .navItem:nth-child(2) {
    letter-spacing: -.32rem;
  }
  .navItem:nth-child(3) {
    letter-spacing: -.35rem;
  }
  .navItem:nth-child(4) {
    letter-spacing: -.20rem;
  }
  .navItem:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #f7f7f2;
    -webkit-transform: translateY(-50%) scaleY(5);
            transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #grinHead {
    position: fixed;
    bottom: -19%;
    left: -11%;
    width: 40%;
    height: 40%;
  }
  #grinHead img {
    width: 100%;
    height: auto;
  }
  .row.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 25%;
    height: 100%;
  }
  .row > .neutral {
    height: 7vh;
    z-index: 1;
  }
  .row > .neutral:first-child {
    -webkit-box-shadow: 0px 10px 20px -15px black;
    box-shadow: 0px 10px 20px -15px black;
  }
  .row > .neutral:last-child {
    -webkit-box-shadow: 0px -10px 20px -15px black;
    box-shadow: 0px -10px 20px -15px black;
  }
  .row > .accent {
    height: 7vh;
    background-color: #69140e;
    overflow: auto;
  }
  .row > .accent > .portfolio {
    height: 100%;
  }
  .row > .accent > .portfolio > ul.projList {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row > .accent > .portfolio > ul.projList > li {
    margin-right: 1em;
    margin-left: 4em;
    text-align: right;
    padding-top: .1em;
    list-style-type: none;
  }
  .row > .accent > .portfolio > ul.projList > li div {
    margin: 1em 0;
  }
  .row > .accent > .portfolio > ul.projList > li div > a {
    font-family: 'Nexa Bold';
  }
  .row > .accent > .portfolio > ul.projList > li div:first-child {
    font-size: 1.5em;
  }
  .row > .accent .about {
    height: 100%;
    overflow: auto;
    padding: 2%;
    font-family: 'Nexa Light';
  }
  .row > .accent .about > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row > .accent .about > div:last-child {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: right;
    margin-bottom: 1em;
  }
  .row > .accent .about > div:last-child p {
    font-family: 'Nexa Light';
    width: 100%;
    float: right;
    text-align: right;
    text-shadow: .2rem .2rem .2rem #69140e;
  }
  .row > .accent .about > div:last-child button {
    width: 50%;
    padding: .5em;
    background-color: #242423;
    border: none;
    border-radius: 7px;
    text-shadow: .1rem .1rem .5rem #242423;
    font-size: 1em;
    color: #f7f7f2;
    font-family: 'Nexa Bold';
  }
  .row > .accent .about > div:last-child button:hover {
    cursor: pointer;
  }
  .row > .accent .about > div > div#portrait {
    z-index: 2;
    background-image: url(../assets/seb.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -50%;
    width: 40vw;
    height: 40vw;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 20px -15px black;
    box-shadow: 0px 10px 20px -15px black;
  }
  .row > .accent .about > div > div h3 {
    font-family: 'Nexa Light';
    font-size: 2em;
    margin-top: 0;
  }
  .row > .accent .about > div > div:last-child {
    font-family: 'Nexa Light';
    text-align: right;
  }
  .row > .accent .about p {
    width: 100%;
    float: right;
    text-align: right;
  }
  .row > .accent > .contact {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row > .accent > .contact #disabledForm {
    z-index: 1 !important;
    position: absolute;
    width: 90%;
    height: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    background-color: rgba(105, 20, 14, 0.9);
    border-radius: 5px;
    top: 2%;
    left: 5%;
  }
  .row > .accent > .contact #disabledForm span {
    text-align: right;
    margin: 1%;
    text-shadow: .1rem .1rem .5rem #242423;
  }
  .row > .accent > .contact #disabledForm span a {
    font-size: 2em;
  }
  .row > .accent > .contact form {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row > .accent > .contact form input {
    height: 2rem;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin: 1em;
  }
  .row > .accent > .contact form textarea {
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    margin: 1em;
  }
}

@media only screen and (min-width: 736px) {
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
  header.row {
    position: relative;
    z-index: 1;
    padding: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  header.row .col-4 {
    width: 50%;
  }
  header.row .col-4:first-child {
    font-size: 3em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    padding-right: 3em;
  }
  header.row .col-4:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-top: -1.5em;
  }
  header.row .col-4:nth-child(2) div > :first-child {
    font-size: 2em;
  }
  header.row .col-4:nth-child(2) div > :last-child {
    font-family: 'Nexa Bold';
    font-size: 4em;
  }
  header.row .col-4:last-child {
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: .75em;
    letter-spacing: .75em;
  }
  footer.navMenu {
    position: relative;
    overflow: hidden;
  }
  /* Toggle Functionality */
  #toggle {
    display: none;
  }
  #toggle:checked ~ .toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
            transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  #toggle:checked ~ .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5em;
    pointer-events: auto;
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
    padding-right: 5em;
  }
  #toggle:checked ~ .nav .navItem {
    color: #f7f7f2;
    letter-spacing: .75em;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(1) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(3) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(4) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(4):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #toggle:checked ~ .nav .navItem:before {
    opacity: 0;
  }
  /* Toggle Button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    right: 1%;
    width: 5em;
    height: 5em;
    margin: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 1.5em;
    width: 35%;
    height: .1em;
    background-color: #f7f7f2;
    border-radius: .5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
            transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .button-toggle:after {
    -webkit-transform: translateY(50%) rotate(-45deg) scale(0);
            transform: translateY(50%) rotate(-45deg) scale(0);
  }
  /* Menu */
  .nav {
    display: inline-block;
    margin: 2em 3em 3em;
    width: 768px;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navItem {
    position: relative;
    float: right;
    clear: both;
    color: transparent;
    font-size: 1em;
    letter-spacing: -.45em;
    height: .6em;
    line-height: .3em;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
  }
  .navItem:nth-child(1) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navItem:nth-child(1):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navItem:nth-child(2) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navItem:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navItem:nth-child(3) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navItem:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navItem:nth-child(4) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navItem:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navItem:nth-child(1) {
    letter-spacing: -.3rem;
  }
  .navItem:nth-child(2) {
    letter-spacing: -.32rem;
  }
  .navItem:nth-child(3) {
    letter-spacing: -.35rem;
  }
  .navItem:nth-child(4) {
    letter-spacing: -.20rem;
  }
  .navItem:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #f7f7f2;
    -webkit-transform: translateY(-50%) scaleY(5);
            transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #grinHead {
    z-index: 0;
    position: fixed;
    bottom: 9%;
    left: -9%;
    width: 25%;
    height: 25%;
  }
  #grinHead img {
    width: 100%;
    height: auto;
  }
  .row.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 25%;
    height: 100%;
  }
  .row > .neutral {
    height: 7vh;
    z-index: 1;
  }
  .row > .neutral:first-child {
    -webkit-box-shadow: 0px 10px 20px -15px black;
    box-shadow: 0px 10px 20px -15px black;
  }
  .row > .neutral:last-child {
    -webkit-box-shadow: 0px -10px 20px -15px black;
    box-shadow: 0px -10px 20px -15px black;
  }
  .row > .accent {
    height: 7vh;
    background-color: #69140e;
    overflow: auto;
  }
  .row > .accent > .portfolio {
    background-color: rgba(105, 20, 14, 0.6);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .row > .accent > .portfolio > ul.projList {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row > .accent > .portfolio > ul.projList > li {
    margin-right: 2em;
    margin-left: 4em;
    text-align: right;
    padding-top: .1em;
    list-style-type: none;
    text-shadow: .1rem .1rem .2rem #69140e;
  }
  .row > .accent > .portfolio > ul.projList > li div {
    margin: 1em 0;
  }
  .row > .accent > .portfolio > ul.projList > li div > a {
    font-family: 'Nexa Bold';
    text-shadow: .1rem .1rem .3rem #242423;
  }
  .row > .accent > .portfolio > ul.projList > li div:first-child {
    font-size: 1.5em;
  }
  .row > .accent .about {
    background-color: rgba(105, 20, 14, 0.6);
    width: 100%;
    position: relative;
    overflow: auto;
    z-index: 2;
    height: 100%;
    padding: 2%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row > .accent .about > div {
    position: relative;
    top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row > .accent .about > div:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1em;
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row > .accent .about > div:last-child p {
    width: 100%;
    float: right;
    text-align: right;
    text-shadow: .2rem .2rem .2rem #69140e;
  }
  .row > .accent .about > div:last-child button {
    width: 30%;
    padding: .5em;
    background-color: #242423;
    border: none;
    border-radius: 7px;
    text-shadow: .1rem .1rem .5rem #242423;
    font-size: 1em;
    color: #f7f7f2;
    font-family: 'Nexa Bold';
  }
  .row > .accent .about > div:last-child button:hover {
    cursor: pointer;
  }
  .row > .accent .about > div.col-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row > .accent .about > div > div#portrait {
    position: fixed;
    left: 2%;
    background-image: url(../assets/seb.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -50%;
    width: 35vh;
    height: 35vh;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 20px -15px black;
    box-shadow: 0px 10px 20px -15px black;
  }
  .row > .accent .about > div > div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  .row > .accent > .contact {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row > .accent > .contact #disabledForm {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    background-color: rgba(105, 20, 14, 0.9);
    border-radius: 5px;
    top: 0%;
    left: 0%;
    padding-right: 5%;
  }
  .row > .accent > .contact #disabledForm span {
    text-align: right;
    margin: 1%;
    text-shadow: .1rem .1rem .5rem #242423;
  }
  .row > .accent > .contact #disabledForm span a {
    font-size: em;
  }
  .row > .accent > .contact form {
    width: 75%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row > .accent > .contact form input {
    height: 2rem;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin: 1em;
    -webkit-box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.75);
  }
  .row > .accent > .contact form input[type="submit"] {
    width: 30%;
  }
  .row > .accent > .contact form textarea {
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    margin: 1em;
    -webkit-box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.75);
  }
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */