@font-face {
  font-family: 'Nexa Light';
  src: local("Nexa Light"), url("../../fonts/Nexa_Light.otf");
  font-weight: light;
  font-family: 'Nexa Bold';
  src: local("Nexa Bold"), url("../../fonts/Nexa_Bold.otf");
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #242423;
  color: #f7f7f2;
  font-family: 'Nexa Light', sans-serif;
}

a {
  text-decoration: none;
  color: #f7f7f2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242423;
  height: 100%;
  margin: 0 auto;
}

.container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .row::before, .container .row::after {
  content: "";
  display: block;
  clear: both;
}

@media only screen {
  .container .row [class*='col-'] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen {
  .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header.row .col-4:first-child {
    margin-top: .3em;
    margin-right: .9em;
    font-size: 3em;
  }
  header.row .col-4:nth-child(2) {
    margin-top: -1.75em;
    margin-right: .5em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header.row .col-4:nth-child(2) div > :first-child {
    font-size: 2em;
  }
  header.row .col-4:nth-child(2) div > :last-child {
    font-family: Nexa Bold;
    font-size: 4em;
  }
  header.row .col-4:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: .75em;
    margin-top: -1em;
    letter-spacing: .75em;
  }
  footer.navMenu {
    position: relative;
    overflow: hidden;
  }
  /* Toggle Functionality */
  #toggle {
    display: none;
  }
  #toggle:checked ~ .toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
            transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  #toggle:checked ~ .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 3.5em;
    pointer-events: auto;
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
    padding-right: 1em;
  }
  #toggle:checked ~ .nav .navItem {
    color: #f7f7f2;
    letter-spacing: .75em;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(1) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(3) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(4) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #toggle:checked ~ .nav .navItem:nth-child(4):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  #toggle:checked ~ .nav .navItem:before {
    opacity: 0;
  }
  /* Toggle Button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 4em;
    height: 4em;
    margin: .75em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 1.5em;
    width: 35%;
    height: .1em;
    background-color: #f7f7f2;
    border-radius: .5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
            transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .button-toggle:after {
    -webkit-transform: translateY(50%) rotate(-45deg) scale(0);
            transform: translateY(50%) rotate(-45deg) scale(0);
  }
  /* Menu */
  .nav {
    display: inline-block;
    margin: 2em 3em 3em;
    width: 768px;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navItem {
    position: relative;
    display: inline-block;
    float: right;
    clear: both;
    color: transparent;
    font-size: .85rem;
    letter-spacing: -.45em;
    height: .6em;
    line-height: .3em;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
  }
  .navItem:nth-child(1) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navItem:nth-child(1):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navItem:nth-child(2) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navItem:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navItem:nth-child(3) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navItem:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navItem:nth-child(4) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navItem:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navItem:nth-child(1) {
    letter-spacing: -.3rem;
  }
  .navItem:nth-child(2) {
    letter-spacing: -.32rem;
  }
  .navItem:nth-child(3) {
    letter-spacing: -.35rem;
  }
  .navItem:nth-child(4) {
    letter-spacing: -.20rem;
  }
  .navItem:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #f7f7f2;
    -webkit-transform: translateY(-50%) scaleY(5);
            transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #grinHead {
    position: fixed;
    bottom: -14%;
    left: -8%;
    width: 30%;
    height: 30%;
  }
  #grinHead img {
    width: 100%;
    height: auto;
  }
  .row.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 25%;
    height: 100%;
  }
  .row > .neutral {
    height: 7vh;
    z-index: 1;
  }
  .row > .neutral:first-child {
    -webkit-box-shadow: 0px 10px 20px -15px black;
    box-shadow: 0px 10px 20px -15px black;
  }
  .row > .neutral:last-child {
    -webkit-box-shadow: 0px -10px 20px -15px black;
    box-shadow: 0px -10px 20px -15px black;
  }
  .row > .accent {
    z-index: 0;
    height: 7vh;
    background-color: #69140e;
    overflow: auto;
  }
  .row > .accent > .portfolio {
    height: 100%;
  }
  .row > .accent > .portfolio > ul.projList {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row > .accent > .portfolio > ul.projList > li {
    margin-right: 1em;
    margin-left: 4em;
    text-align: right;
    padding-top: .1em;
    list-style-type: none;
  }
  .row > .accent > .portfolio > ul.projList > li div {
    margin: 1em 0;
  }
  .row > .accent > .portfolio > ul.projList > li div > a {
    font-family: Nexa Bold;
    text-shadow: .1rem .1rem .3rem #242423;
  }
  .row > .accent > .portfolio > ul.projList > li div:first-child {
    font-size: 1.5em;
  }
  .row > .accent > .contact form {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row > .accent > .contact form input {
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 1em;
  }
  .row > .accent > .contact form textarea {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    margin: 1em;
  }
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */