@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";
body {
	background-color: map-get($colormap, dark);
	font-family: 'Nexa Light', sans-serif;
}
.container-fluid {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: map-get($colormap, dark);
	height: 100vh;
	margin: 0 auto;
	.row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@include clearfix();
		@for $i from 1 through $colNo {
			.col-#{$i} {
				width: $i*$colStep +0%;
			}
		}
		&.content {
			position: fixed;
			top: 25vh;
		}
		> .neutral {
			height: 7vh;
			z-index: 1;
			&:first-child {
				-webkit-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
				-moz-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
				box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
			}
			&:last-child {
				-webkit-box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 1);
				-moz-box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 1);
				box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 1);
			}
		}
		> .accent {
			padding-top: 3.5vh;
			z-index: 0;
			height: 7vh;
			background-color: map-get($colormap, accent);
			> .portfolio {
				height: 100%;
				> ul {
					&.projList {
						width: 100%;
						margin: 0;
						padding: 0;
						display: flex;
						justify-content: flex-end;
						> li {
							padding-top: 2vh;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-content: flex-end;
							list-style-type: none;
							div {
								color: map-get($colormap, light);
								text-align: right;
								&:first-child {
									font-family: Nexa Bold;
									font-size: 2rem;
								}
								a {
									text-decoration: none;
									color: map-get($colormap, light);
									&:hover {
										color: map-get($colormap, light);
										text-shadow: .1rem .1rem .1rem #242423;
									}
								}
							}
						}
					}
				}
			}
			#contactForm {
				font-family: Nexa Light;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: flex-end;
				> input {
					font-family: Nexa Light;
					margin: 1vh;
					font-size: 1.2em;
					text-align: center;
					background-color: map-get($colormap, light);
					color: map-get($colormap, dark);
					border: none;
					height: 2rem;
					width: 50%;
					border-radius: .5em;
					-webkit-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
					-moz-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
					box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
				}
				> textarea {
					font-family: Nexa Light;
					font-size: 1.2em;
					margin: 1vh;
					width: 50%;
					background-color: map-get($colormap, light);
					color: map-get($colormap, dark);
					border: none;
					border-radius: .5rem;
					-webkit-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
					-moz-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
					box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 1);
					resize: none;
				}
			}
		}
	}
	header {
		color: map-get($colormap, light);
		font-family: Nexa Light;
		.col-4 {
			&.title {
				position: relative;
				div {
					span {
						display: inline-block;
					}
					display: flex;
					&:first-child {
						position: absolute;
						right: 15rem;
						top: 3rem;
						span {
							font-size: 5rem;
						}
					}
					&:nth-child(2) {
						position: absolute;
						right: 0;
						top: 4.5rem;
						span {
							> span:first-child {
								font-size: 2rem;
							}
							> span:nth-child(2) {
								font-family: Nexa Bold;
								font-size: 5rem;
								font-weight: 700;
							}
						}
					}
					&:last-child {
						position: absolute;
						right: 0;
						top: 9rem;
						font-size: 1rem;
						letter-spacing: .75rem;
					}
				}
				> :first-child {
					font-weight: 100;
					text-align: left;
				}
				> :nth-child(2) {
					text-align: right;
				}
				> :last-child {
					font-weight: 100;
					text-align: center;
				}
			}
		}
	}
	footer {
		&.row {
			font-family: Nexa Light;
			background-color: map-get($colormap, dark);
			.col-9 {
				&.menu {
					font-size: 1rem;
					display: flex;
					justify-content: space-around;
					align-items: flex-end;
					flex-direction: column;
					padding-bottom: 5vh;
					div {
						&:hover {
							span {
								a {
									animation-name: menuItemMove;
									animation-duration: 0.3s;
									animation-iteration-count: 1;
									animation-fill-mode: forwards;
									animation-timing-function: ease-out;
									@keyframes menuItemMove {
										from {
											left: 0px;
											top: 0px;
										}
										to {
											left: -.3rem;
											top: -.3rem;
										}
									}
									text-shadow: .3rem .3rem .15rem #ffffff;
								}
							}
						}
						margin: 1em 0;
						letter-spacing: .75rem;
						span {
							a {
								position: relative;
								color: map-get($colormap, light);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
#grinHead {
	position: fixed;
	bottom: 20vh;
	left: -8vw;
	width: 30vw;
	height: 30vh;
	img {
		width: 30vw;
		height: auto;
	}
}

.hide {
	display: none !important;
}
